Q1

Single Line comments are created using '#' symbol
Multi Line comments are created using triple quotes (''')

In [ ]:
#This a single line comment
'''
This is a multi line comment
You can write multiple lines of comments
'''

Q2

In python, variable are used to reference and manipulate data. A varialbe represents a memory location and has a name to it. As python, is a dynamically typed language, variable are capable to auto detect the type of the data being stored in their respective memory location.

A variable is created using a equal sign. Left hand side of equal sign contains name of the variable and right hand side contains the data itself
Example:
var1=10

In [2]:
var1=10
print(var1,type(var1))

10 <class 'int'>

Q3

Only compatible data types can be converted from one type to another. If this is not the case, then it results in ValueError .
int()-Used to convert float values to integers


float()-used to convert integers to float


str()-used to convert a series of data into string

bool()-: Converts a value to a boolean data type.

list(), tuple(), and set(): Convert iterable objects like strings or lists to different data types.

Q4

Create a new file with a .py extension, such as HelloWorld.py.

Write your Python code in the file using a text editor like notepad and save the file.

Open a command prompt or terminal and navigate to the directory where the script is saved using command called 'cd'

Execute the Python script by typing python followed by the script's filename.

Press Enter to run the command.

The Python interpreter will execute the script, and you will see the output in the command prompt or terminal.

Q5

In [3]:
lst=[1,2,3,4,5]
print(lst[1:3])

[2, 3]

Q6

Complex Numbers are a type of of number which are not real. They have the following structure 'a+ib' where a represents real number and b represents imaginary number.

In python, complex() can be used to create a complex number. It takes two arguments, one is real and another is imaginary. One can also create a coomplex number like this:   z=1+3j

We can use normal arithmetic operators on complex data types. Complex data type have two arguments: They are .real and .imag

In [4]:
z=complex(2,3)
print(z,type(z))
z1=1+4j
print(z1,type(z1))

(2+3j) <class 'complex'>
(1+4j) <class 'complex'>

Q7

In [5]:
age=25
print(age)

25

Q8

In [6]:
price=9.99
print(type(price))

<class 'float'>

Q9

In [7]:
name='Dusa Sai Krishna'
print(name)

Dusa Sai Krishna

Q 10

In [8]:
string='Hello World'
print(string[6:])

World

Q 11

In [9]:
is_student=True
print(type(is_student))

<class 'bool'>